* {
    box-sizing: border-box;
}

p {
    text-align: center;
    padding: 0;
    margin: 5px 0;
}

body {
    background-color: whitesmoke;
    margin: 0 auto;
    height: 80vh;
    width: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center;
    background-size: auto;
}

.form {
    padding: 40px 20px;
    margin: 0 auto;
    height: 500px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid burlywood;
    border-radius: 30px 5px 30px 5px;
    background-color: cornsilk;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.input, textarea {
    margin: 5px 0;
    width: 80%;
}

.input:focus, .textarea:focus {
    outline: none;
}

.textarea {
    height: 80px;
    width: 80%;
    resize: none;
}

.button {
    margin: 10px 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
}

.labelNickName {
    color: red;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0;
    position: absolute;
    transition: .3s;
}


.labelName {
    color: red;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0;
    position: absolute;
    transition: .3s;
}

.labelText {
    color: red;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0;
    transition: .3s;
}

.active {
    opacity: 1;
}

.fieldset {
    border: 1px solid red;
    box-shadow: 0 0 5px 1px red

  }

.postContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.postsContainer {
    border-bottom: 1px solid firebrick;
    width: 80%;
    max-height: 200px;
    overflow-y: auto;
}


